body{
    margin: 0%;
    padding: 0%;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    text-align: center;
    color: rgb(217, 208, 81);
    color: rgb(7, 241, 163);
    background-image: url(in.jpg);
    
    }
    header {
    font-size: large;
    color: rgb(35, 8, 239);
    text-transform: capitalize;
    border-radius: 10px;
    padding: 6px 6px 6px 6px;
    margin: 20px;
    text-align: center;
    border-color: black;
    background-color: rgb(241, 244, 212);
    }
    .loginbox{
    width: 320px;
    height: 420px;
    background: #47bce7;
    color: #150602;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: boarder-box;
    }
    a {
    color: #2707fb;
    }