
h1 {
    color:white;
    border: 4px solid black;
    text-align: center;
    border-width: 10px 10px 10px 10px;
    border-color: white;
    background-color: black;
    border-style: groove;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    }
    span {
      text-align: center;
    }
    h2 {
        color: blue;
        text-align: center;
  
        padding: 10px 10px 10px 10px;
        margin: 10px;
    }
     
      body {
    background-image: url('drop-of-water-578897__480.jpg');
    background-color: rgb(164, 213, 246);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 30vw;*/
    } 
  
    #box {
    text-align: center;
    }
    input {
    border-radius: 10px;
    padding: 6px 6px 6px 6px;
    margin: 20px;
    text-align: center;
    border-color: black;
    background-color: rgb(241, 244, 212);
    }
    textarea {
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    background-color: rgb(239, 239, 179);
    }
    b {
    font-size: larger;
    color: rgb(6, 6, 6);
    }
    h3 {
    text-align: center;
    text-transform: capitalize;
    color: rgb(251, 5, 5);
    font-size: xx-large;
    }
    .demo1:hover {
    color: dodgerblue;
    background-color: black;
    }
    .demo2:hover {
    color: red;
    background-color: black;
    }
    .demo3:hover {
        color: rgb(252, 8, 8);
        background-color: rgb(36, 9, 237);
        }
        header {
          text-align: center;
          text-transform: capitalize;
          color: blue;
          font-size: xx-large;
        }
        p {
          text-align: center;
        }
        